body{
    background-image: url("kidsPic.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
}
.LogInBox{
    background-color: white;
    margin: 50px 30px 0px 30px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.heading{
    font-size: 30px;
    font-style: bold;
    font-family: 'Pacifico';
}
.sub_heading{
    padding: 0px;
    color: silver;
    font-size: 20px;
    font-family: 'Bellefair';
}
.info{
    margin: 10px;
    padding: 5px;
    font-family: 'Titillium Web';           
}
.new_box{
    background-color: white;
    margin: 0px 30px 0px 30px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    font-family: 'Titillium Web';  
}
#app{
    margin: 0px 30px 0px 30px;
    padding: 20px;
    text-align: center;
    font-family: 'Titillium Web';
    color: white;
}
.fo{
    position: absolute;
    bottom: 0px;
    background-color: white;
    display: block;
    width: 100%;
    float: left;
    margin-left: -20px;
}
.foo, .fooo{
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 16px;
    text-align: center;
}      
.fooo{
    cursor: pointer;
}
.copy{
    margin-left: 100px;
}