{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Kids</title>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!--fonts-->
	<link href="https://fonts.googleapis.com/css?family=Pacifico|Noto+Sans|Bellefair|Titillium+Web|Sedgwick+Ave+Display|Sedgwick+Ave|Saira|Raleway|Open+Sans+Condensed|Dosis|Josefin+Sans|Fjalla+One|Kaushan+Script" rel="stylesheet">

	<!--for icons-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- for ext. css file -->
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/feed.css' %}"/>

</head>
<body>
	<div class="container-fluid">
        <nav class="header" role="navigation">
        	<ul>
        		<li><a href="#"> Social Kids </a></li>
        	</ul>
        </nav>
        <!-- body starts here -->
        <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6">
            	<div class="heading">
                    	"See what your <u>Friends</u> are doing!" 
                </div>
            	<form method="post" action="/post/">
                    <div class="post">
                    	<button type="submit"><a href="/post">Post</a></button>
                    </div>	
                </form>
                <div class="FeedCol">
                    <div id="content"> 
                    	{% for post in posts %}
                    		<div class="posted_by">
                    		    <h3 class="posted_by">
                    		    	{{ post.user.username }}
                    		    </h3>
                    		    <h4 class="posted_on">
                    		    	{{ post.created_on }}
                    		    </h4>
                    		</div>
                    		<hr class="line">
                    		<div id="images">
                    			<img src=" {{ post.image_url }} " id="clicks">
                    		</div>
                    		<div class="likes_on_post no_of_comment">
                    			<form method="POST" action="/like/">
                    			{% csrf_token %}
                    				<input type="hidden" name="post" value="{{ post.id }}">
                    				{% if post.has_liked %}
                    					<input type="submit" class="btn btn-default" value="Unlike">
                    				{% else %}
                    					<input type="submit" class="btn btn-default" value="Like">
                    				{% endif %}
                    			</form>
                    			<div class="no_of_likes">
                    				<strong>{{ post.like_count }} Likes</strong>
                    			</div>
                    		</div>
                    		<div class="theCaption">
                    			<strong>{{ post.caption }}</strong>
                    		</div>
                    		<div class="comments_on_post">
                    			{% for comment in post.comments %}
									<p>
        								<div class="comment_t">
        									<strong class="comment_wala">{{ comment.user.username }}</strong>
        									{{ comment.comment_text }}
        								</div>
        								<span class="comment_date">{{ comment.created_on }}</span>
        							</p>
        						{% endfor %}
        					</div>
                    		<div class="make_comment">
                    			<form method="POST" action="/comment/">
  								{% csrf_token %}
  									<input type="hidden" name="post" value="{{ post.id }}" >
  									<input type="text" name="comment_text" id="comment_text" placeholder="Add a comment.." value="{{ comment_text }}">
  									{{ comment_text }}
  									<input type="submit" class="btn-default btn" value="Comment">
								</form>
                    		</div>
                    		<hr class="line">
                    	{% endfor %}
                    </div>
                </div>
                <p id="app"><a href="#" id="app"></a></p>
            </div>
            <div class="col-md-3">
                
            </div>    
        </div>
        <!-- footer starts here -->
        <footer class="fo">
            <ul class="foo">
                <li class="fooo">About Us</li>
                <li class="fooo">Support</li>
                <li class="fooo">Blog</li>
                <li class="fooo">Press</li>
                <li class="fooo">API</li>
                <li class="fooo">Jobs</li>
                <li class="fooo">Privacy</li>
                <li class="fooo">Terms</li>
                <li class="fooo">Directory</li>
                <li class="fooo">Language</li>
                <li class="fooo" class="copy">© 2017 Social Kids</li>
            </ul>
        </footer>
    </div>
</body>
</html>